<!DOCTYPE html>
<html>
  <head>

      <title>{% block title %}{% endblock title %} - Oscar Peace</title>
      <link rel="canonical" href="https://www.oscarcp.net{{ can_url }}"/>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.3/htmx.min.js"></script>

      {# Highlight JS #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/django.min.js"></script>
      <script src="https://unpkg.com/highlightjs-svelte/dist/svelte.min.js"></script>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
      
      {# Site styles #}
      
      <link rel="stylesheet" href="/static/dist.css" media="screen"/>
      <link rel="stylesheet" href="/static/printer.css" media="print"/>
      <script src="/static/scripts/components/slideshow.js" type="module"></script>

      {# CF Turnstile #}

      <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
      <script>window.cfSiteKey = "{{ cfsitekey }}"</script>
      <script src="/static/scripts/turnstile.js" defer></script>

      {# CF analytics #}

      <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "bcf4e1a5647946aaba8ba8d84c3d297f"}'></script><!-- End Cloudflare Web Analytics -->

      {# MathJAX #}

      <script>

        MathJax = {
          tex: {
            inlineMath: [['$', '$']],
            displayMath: [["$$", "$$"]]
          },
          svg: {
            fontCache: 'global'
          }
        };

        // Re-render MathJax when HTMX request is made.
        document.addEventListener("htmx:afterSettle", function(){
          MathJax.typeset()
        })

      </script>

      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {% block head %}{% endblock head %}

  </head>


  <body>

      <main id="content">
        <header>
            <h1>Oscar Peace</h1>
            
            <nav>
                <a href="/" hx-trigger="click" hx-get="/" hx-push-url="true" hx-target="#content-block" hx-replace="innerHTML">Home</a>
                <a href="/projects" hx-trigger="click" hx-get="/projects" hx-push-url="true" hx-target="#content-block" hx-replace="innerHTML">Projects</a>
                <a href="/posts" hx-trigger="click" hx-get="/posts" hx-push-url="true" hx-target="#content-block" hx-replace="innerHTML">Posts</a>
            </nav>

        </header>
        <section id="content-block">
          {% block content %}
          {% endblock content %}
        </section>
      </main>

      <footer>
        <p class="text-xs text-center m-2">
          Made by <a href="/" class="underline">Oscar Peace</a>. 
          Source available at <a class="underline" target="_blank" href="https://github.com/sccreeper/portfolio"><i class="bi bi-github"></i> sccreeper/portfolio</a>.
        </p>
      </footer>
  </body>
</html>
<!-- Hello there --> 