{% extends "base.j2" %}

{% block head %}
<meta property="og:title" content="Oscar Peace"/>
<meta property="og:description" content="Posts"/>
{% endblock head %}

{% block title %} Posts {% endblock title %}

{% block content %}


{% include "partials/posts.j2" %}


{% endblock content %}