{% extends "base.j2" %}

{% block head %}
<meta property="og:title" content="Oscar Peace"/>
<meta property="og:description" content="Projects"/>
{% endblock head %}

{% block title %}
Projects
{% endblock title %}

{% block content %}
{% include "partials/projects.j2" %}
{% endblock content %}