<title hx-swap-oob="outerHTML:title">{{post.title}} - Oscar Peace</title>

<hgroup>

  <h1><b>{{post.title}}</b></h1>
  <h2>{{post.summary}}</h2>
  <p><b>Tags:</b> {% for tag in post.tags %}
  {{tag}}
  {% endfor %}</p>
  <p>{{views}} views</p>
  <h2>{{post.authour}} - <time datetime="{{post.published.date_8601}}">{{post.published.date_full}}</time></h2>

</hgroup>

<br>

<article id="blog-content">
{{content}}
</article>

<section>

{% with comments=comments, errors=[], enabled=comments_enabled %}

{% include "./comments/comments.j2" %}

{% endwith %}

</section>

<script>
  hljs.highlightAll();
</script>