{%import "components/project.j2" as project%}
{%import "components/postlink.j2" as postlink%}

<title hx-swap-oob="outerHTML:title">Home - Oscar Peace</title>

<section>

<h1>About</h1>

{{ post_body(".profile-summary") }}

</section>

<br>

<section>

<h1>Posts</h1>

{% for post in posts %}

{{postlink.post_link(
    post.title,
    post.published,
    post.summary,
    post.slug
)}}

{% endfor %}

</section>

<br>

<section>

<h1>Projects</h1>

{{project.project(
    "goputer",
    "A fantasy virtual machine written in Go",
    "/static/images/goputer_logo.png",
    "https://goputer.oscarcp.net",
    "Website",
    "globe"
)}}

{{project.project(
    "Chime",
    "A music streaming server",
    "/static/images/chime_logo.png",
    "https://github.com/sccreeper/chime",
    "Repository",
    "git"
)}}

{{project.project(
    "EarthMC stats",
    "SvelteKit app that pulls and displays data from the EarthMC API.",
    "/static/images/earthmcstats.png",
    "https://emc.oscarcp.net",
    "Website",
    "globe"
)}}

{{project.project(
    "image2excel",
    "A program that converts images into Excel spreadsheets.",
    "",
    "https://github.com/sccreeper/image2excel",
    "Repository",
    "git"
)}}

</section>
