{%import "components/postlink.j2" as postlink%}

<b>{{count}} posts</b>

<br>

<form hx-get="/posts" hx-target="#content-block" hx-push-url="true">

    <label for="sort_sort">Sort by: </label>

    <select id="sort_dir" name="prop">

        <option value="timestamp" {{ "selected" if prop == "timestamp"}}>Date</option>
        <option value="title" {{ "selected" if prop == "title" }}>Title</option>
        <option value="length" {{ "selected" if prop == "length"}}>Length</option>

    </select>

    <label for="sort_dir">Direction: </label>

    <select name="dir" id="sort_dir">

        <option value="desc" {{ "selected" if dir == "desc"}}>Descending</option>
        <option value="asc" {{ "selected" if dir == "asc"}}>Ascending</option>

    </select>

    <button type="submit">Apply</button>

</form>

{% for post in posts %}

{{postlink.post_link(
    post.title,
    post.published,
    post.summary,
    post.url
)}}

{% endfor %}