{%import "components/postlink.j2" as postlink%}

<b>{{count}} posts</b>

<br>

<form hx-get="/posts" hx-target="#content-block" hx-push-url="true">

    {{ form.prop.label }}
    {{ form.prop() }}

    {{ form.dir.label }}
    {{ form.dir() }}

    {{ form.query.label }}
    {{ form.query() }}

    <button type="submit">Apply</button>

</form>

{% for post in posts %}

{{postlink.post_link(
    post.title,
    post.published,
    post.summary,
    post.url
)}}

{% endfor %}