{%import "components/postlink.j2" as postlink%}

{% if count == 0 %}

<h1>No results.</h1>

{% else %}

<p>{{count}} results in {{time}} seconds</p>

{% for post in posts %}

{{postlink.post_link(
    post.title,
    post.published,
    post.summary,
    post.url
)}}

{% endfor %}

{% endif %}