{# Link to a external project page #}

{%macro project_link(url, icon, text)%}

<article>
    <a href="{{url}}" target="_blank">
        <div class="project-link"><i class="bi bi-{{icon}}"></i> {{text}}</div>
    </a>
</article>

{%endmacro%}