{% macro comment(id, name, date, comment) %}

<article id="c-{{ id }}" class="comment">
    <b>{{ name }}</b>
    <br>
    <p class="text-xs"> <time datetime="{{date.date_8601}}">{{date.date_full}} <b>@</b> {{date.time}}</time></p>
    <pre>{{ comment }}</pre>
</article>

{%endmacro%}