<div style="float: right;">

    <a href="/comments/admin" hx-get="/comments/admin" hx-target="#content-block" hx-swap="innerHTML" hx-push-url="true">Main</a>
    <a href="/comments/admin/settings" hx-get="/comments/admin/settings" hx-target="#content-block" hx-swap="innerHTML" hx-push-url="true">Settings</a>
    <button hx-post="/comments/logout" hx-confirm="Are you sure you want to logout?">Logout</button>

</div>
