<title hx-swap-oob="outerHTML:title">Login - Comments admin</title>

{% for field, error_list in form.errors.items() %}

{% for error in error_list %}
    <p style="color: red;">{{ error }}</p>
{% endfor %}

{% endfor %}

<form hx-post="/comments/login" hx-target="#content-block">

    {{ form.hidden_tag() }}

    {{ form.password.label }}
    {{ form.password() }}

    <button type="submit">Login</button>

</form>
