@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styles */

html {
    font-family: 'Fira Mono', monospace;
    @apply text-black;
    @apply dark:text-white;
}

body {
    @apply bg-white;
    @apply dark:bg-black;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

h1 {
    @apply text-xl;
}

h2 {
    @apply text-lg;
};

p, span {
    @apply text-base;
}

.MathJax {
    @apply text-base;
}

a:visited {
    @apply text-black;
    @apply dark:text-white;
}

ol {
    @apply list-decimal
}

ul > li::marker {
    content: " - "
}

li::marker {
    @apply font-bold;
}

ul, ol {
    @apply list-inside;
}

li {
    @apply mb-2;
    @apply mt-2;
}

/* Input styling */

input[type=text],textarea {
    @apply bg-white;
    @apply dark:bg-black;
    @apply outline-none;
    @apply border-b;
    @apply border-b-black;
    @apply dark:border-b-white;
}

input[type=text]::placeholder,textarea::placeholder {
    @apply text-black;
    @apply dark:text-white;
}

select {
    @apply bg-transparent;
    @apply border-b;

    @apply border-b-black;
    @apply dark:border-b-white;
}

button {
    @apply underline;
}

textarea {
    @apply w-full;
    @apply mt-2;
    @apply mb-2;
    @apply resize-none;
    @apply outline-none;
}

textarea:focus {
    @apply outline-none;
}

/* Navbar */

header>h1 {
    font-size: 36px;
    text-decoration: none;
    font-weight: 400;
}

nav>a {
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
}

nav {
    margin-bottom: 8px;
}


header {
    padding: 8px;
}

/* Content */

#content {
    @apply w-full inset-2 sm:w-2/4 sm:m-auto p-4 sm:top-4 sm:bottom-4;
}

.rich-text-content > p {
    @apply mt-3;
    @apply mb-3;
}

footer {
    width: 100%;
    text-align: center;
}

.project-div {
    
    @apply m-4;

    @apply border-b;
    @apply border-b-black;
    @apply dark:border-b-white;
    
    @apply grid;
    @apply grid-rows-1;
    @apply grid-cols-2;
    @apply gap-3;
    grid-template-columns: 128px auto;
    @apply p-4;
    @apply pr-10;
    @apply pl-10;
}

.project-div>h3 {
    @apply no-underline;
}

.project-div p {
    @apply text-sm;
}

/* Project link button */

.project-link {

    /* Theme dependent */

    @apply border;

    @apply bg-black;
    @apply text-white;
    @apply border-black;

    @apply dark:bg-white;
    @apply dark:text-black;
    @apply dark:border-white;

    /* Universal */

    @apply text-sm;
    @apply text-center;
    @apply w-full;
    @apply p-2;
    @apply transition-all;
    @apply no-underline;
}

.project-link:hover {
    @apply bg-white;
    @apply text-black;

    @apply dark:bg-black;
    @apply dark:text-white;
}

.project-link:hover>a {
    @apply text-black;
    @apply dark:text-white;
    @apply no-underline;
}

.project-link>a {
    @apply text-white;
    @apply dark:text-black;
}

.project-link>a:visited {
    @apply text-white;
    @apply dark:text-black;
}

.post-link {
    @apply cursor-pointer;
    @apply w-full;

    @apply border-b;
    @apply border-b-black;
    @apply dark:border-b-white;
    @apply left-1 right-1;
    @apply sm:left-2 sm:right-2;
    @apply p-4;
    @apply pl-3;
    @apply pr-3;
}

.post-link > p {
    @apply text-sm;
}

.post-link > h3 > i {
    @apply opacity-0;
    @apply float-right;
    @apply transition-opacity;
}

.post-link:hover > h3 > i {
    @apply opacity-100;
}

/* Blog styles */

.rich-text-content {
    h1 {
        @apply font-semibold;
    }

    h2 {
        @apply font-medium;
    }
}

code {
    @apply border;
    @apply border-black;
    @apply dark:border-white;
    padding: 1pt;
    @apply rounded-sm;
    @apply text-sm;
}

.rich-text-content a {
    @apply underline;
}

.rich-text-content img {
    @apply m-2;
    @apply border;
    @apply border-black;
    @apply dark:border-white;

    @apply max-h-[300px];
    @apply sm:max-h-[500px];
    @apply block ml-auto mr-auto;
}

.rich-text-content figcaption {
    text-align: center;
    @apply text-sm;
    @apply italic;
}

.rich-text-content blockquote {
    @apply ml-4;
    @apply pl-4;
    @apply mb-3;
    @apply mt-3;
    @apply border-l;
    @apply border-l-black;
    @apply dark:border-l-white;
}

.rich-text-content table, th, td {
    @apply border;
    @apply border-black;
    @apply dark:border-white;
}

.rich-text-content table {
    @apply border-collapse;
}

.rich-text-content td, th {
    @apply p-1;
}

.header { 

    h1, h2, h3 {
        @apply inline;
    }

    a { 
        @apply !no-underline;
        @apply mr-2;
    }

}
.comment {
    @apply p-1;
}

.comment:target {
    @apply border;
    @apply border-white;
}

.comment pre {
    @apply whitespace-pre-wrap;
}

/* HLJS */

.hljs {
background: #000000;
color: #a39e9b;
@apply m-2; 
}

.hljs-attr,
.hljs-template-tag {
color: #8787d7;
}

.hljs-comment,
.hljs-doctag,
.hljs-quote {
color: #339966;
}

.hljs-params {
color: #a39e9b;
}

.hljs-regexp {
color: #d700ff;
}

.hljs-tag,
.hljs-selector-id,
.hljs-number,
.hljs-literal {
color: #ef5350;
}

.hljs-meta,
.hljs-meta .hljs-keyword {

color: #0087ff;
}

/* opt-out */
.hljs-operator,
.hljs-punctuation{
}

.hljs-selector-class,
.hljs-code,
.hljs-formula,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link,
.hljs-keyword {
color: #64b5f6;
}

.hljs-built_in,
.hljs-title,
.hljs-deletion {
color: #ff8700;
}

.hljs-type,
.hljs-section,
.hljs-function,
.hljs-name,
.hljs-property,
.hljs-attribute {
color: #ffd75f;
}

.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
color: #558b2f;
}

.hljs-selector-tag {
color: #9966ff;
}

.hljs-emphasis {
font-style: italic;
}

.hljs-strong {
font-weight: bold;
}

