@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styles */

html {
    font-family: 'Fira Sans', sans-serif;
    @apply text-gray-950;
    @apply dark:text-white;
}

body {
    @apply bg-slate-50;
    @apply dark:bg-slate-900;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

h1 {
    @apply text-xl;
}

h2 {
    @apply text-lg;
}

;

p,
span {
    @apply text-base;
}

a, a:visited {
    @apply text-gray-950;
    @apply dark:text-white;
    @apply hover:dark:text-sky-400;
    @apply hover:text-sky-700;

    @apply no-underline;
    @apply transition-all;
}

ol {
    @apply list-decimal
}

ul>li::marker {
    content: " - "
}

li::marker {
    @apply font-bold;
}

ul,
ol {
    @apply list-inside;
}

li {
    @apply mb-2;
    @apply mt-2;
}

/* Input styling */

input[type=text],
textarea {
    @apply bg-transparent;
    @apply outline-none;
    @apply border-b;

    @apply hover:dark:border-b-sky-400;
    @apply hover:border-b-sky-700;
    @apply focus:dark:border-b-sky-400;
    @apply focus:border-b-sky-700;
    @apply transition-all;
}

input[type=text]::placeholder,
textarea::placeholder {
    @apply text-gray-950;
    @apply dark:text-white;
    @apply font-light;
}

select {
    @apply bg-transparent;
    @apply border-b;

    @apply hover:dark:border-b-sky-400;
    @apply hover:border-b-sky-700;
    @apply focus:dark:border-b-sky-400;
    @apply focus:border-b-sky-700;

    @apply transition-all;
}

button {
    @apply font-bold;
    @apply border;
    @apply border-slate-50;
    @apply dark:border-slate-700;
    @apply rounded-md;

    @apply hover:dark:text-sky-400;
    @apply hover:text-sky-700;

    @apply hover:bg-slate-100;
    @apply dark:hover:bg-slate-800;

    @apply transition-all;
    @apply m-1;
    @apply p-1;
}

textarea {
    @apply w-full;
    @apply mt-2;
    @apply mb-2;
    @apply resize-none;
    @apply outline-none;
}

textarea:focus {
    @apply outline-none;
}

/* Navbar */

header>h1 {
    font-size: 36px;
    text-decoration: none;
    font-weight: 400;
}

nav>a {
    @apply text-xl;
    @apply cursor-pointer;
}

nav {
    @apply mb-2;
}

header {
    @apply m-2;
}

/* Content */

#content {
    @apply w-full inset-2 sm:inset-0 sm:w-[40%] sm:m-auto p-4 sm:top-4 sm:bottom-4;
}

.rich-text-content>p {
    @apply mt-3;
    @apply mb-3;
}

footer {
    @apply w-full;
    @apply text-center;
}

.project-div {

    @apply m-4;

    @apply border;
    @apply border-slate-300;
    @apply dark:border-slate-700;
    @apply rounded-md;

    @apply grid;
    @apply grid-rows-1;
    @apply grid-cols-2;
    @apply gap-3;
    grid-template-columns: 128px auto;
    @apply p-4;
    @apply pr-10;
    @apply pl-10;
}

.project-div>h3 {
    @apply no-underline;
}

.project-div p {
    @apply text-sm;
}

/* Project link button */

.project-link {

    /* Theme dependent */

    @apply border;

    @apply border;
    @apply border-slate-300;
    @apply dark:border-slate-700;
    @apply rounded-md;

    @apply hover:bg-slate-100;
    @apply dark:hover:bg-slate-800;

    /* Universal */

    @apply text-sm;
    @apply text-center;
    @apply w-full;
    @apply p-2;
    @apply transition-all;
    @apply no-underline;

}

.project-link a {
    @apply hover:text-gray-950;
    @apply dark:hover:text-white;
}

.post-link {
    @apply cursor-pointer;
    @apply w-full;

    @apply border;
    @apply border-slate-300;
    @apply dark:border-slate-700;
    @apply rounded-md;

    @apply hover:bg-slate-100;
    @apply dark:hover:bg-slate-800;
    
    @apply !text-black;
    @apply dark:!text-white;
    
    @apply left-1 right-1;
    @apply sm:left-2 sm:right-2;
    @apply p-4;
    @apply pl-3;
    @apply pr-3;
    @apply m-2;
}

.post-link>p {
    @apply text-sm;
}

.post-link>h3>i {
    @apply opacity-0;
    @apply float-right;
    @apply transition-opacity;
}

.post-link:hover>h3>i {
    @apply opacity-100;
}

/* Blog styles */

.rich-text-content {
    h1 {
        @apply font-semibold;
    }

    h2, h3 {
        @apply font-medium;
    }

    /* This horrible selector is to avoid selecting italicised admonitions at the top of articles. */

    p:not(:has(> em:only-child))::first-letter {
        font-size: 3rem;
        line-height: 0.85;
        margin-top: 0.1em;
        
        @apply font-semibold;
        @apply mr-2;
        @apply float-left;
    }

    p:not(:has(> em:only-child)) ~ p:not(:has(> em:only-child))::first-letter {
        @apply text-base;
        font-weight: inherit;
        @apply m-0;
        @apply float-none;
    }

    sup:has(> a:only-child) {
        @apply font-semibold;

        > a {
            @apply no-underline;
        }
    }

    a {
        @apply font-medium;
    }
}

code {
    font-family: "Fira Code", monospace;
}

:not(pre) > code {
    @apply border;
    @apply border-black;
    @apply dark:border-white;
    padding: 1pt;
    @apply rounded-sm;
    @apply text-sm;
}

.rich-text-content img {
    @apply m-2;
    @apply border;
    @apply border-black;
    @apply dark:border-white;

    @apply max-h-[300px];
    @apply sm:max-h-[500px];
    @apply block ml-auto mr-auto;
}

.rich-text-content figcaption {
    text-align: center;
    @apply text-sm;
    @apply italic;
}

.rich-text-content blockquote {
    @apply ml-4;
    @apply pl-4;
    @apply mb-3;
    @apply mt-3;
    @apply border-l;
    @apply border-l-black;
    @apply dark:border-l-white;
}

.rich-text-content table,
th,
td {
    @apply border;
    @apply border-black;
    @apply dark:border-white;
}

.rich-text-content table {
    @apply border-collapse;
}

.rich-text-content td,
th {
    @apply p-1;
}

.header {

    h1,
    h2,
    h3 {
        @apply inline;
    }

    a {
        @apply mr-2;
        @apply text-gray-500;
    }

}

.comment {
    @apply p-1;
}

.comment:target {
    @apply border;
    @apply border-white;
}

.comment pre {
    @apply whitespace-pre-wrap;
    font-family: "Fira Sans", sans-serif;
}

/* Footnotes */

.footnote {

    & li>p {
        @apply inline;
    }

    & li>p a:last-child {
        @apply no-underline;
        @apply font-bold;
    }

}

.highlight {
    @apply border;
    @apply border-black;
    @apply dark:border-white;
    @apply m-2;
    @apply p-2;
    @apply rounded;

    @apply overflow-y-scroll;
}