@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html {
    font-family: 'Fira Sans', sans-serif !important;
    color: black !important;
}

code {
    font-family: "Fira Code", monospace;
}

#content {
    margin: auto !important;
    width: 95% !important;
    border: black 1pt solid;
    padding: 8pt;
}

li {
    list-style: none;
}

li::before {
    content: "- ";
}

#footer {
    text-align: center;
}

a {
    text-decoration: underline;
    color: black;
}

a:visited {
    color: black;
}

h1 {
    font-size: 16pt;
}

p {
    font-size: 14pt;
}