{% extends "admin/base.j2" %}

{% block title %}
Settings
{% endblock title %}

{% block content %}

{% with form=form %}

{% include "admin/partials/settings.j2" %}

{% endwith %}

{% endblock content %}